body {
    background-color: #F2D1CE
}

.Logo {
    width: 10rem;
}


section.Imagen-Pintora {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

section.Imagen-Pintora div {
    margin: auto 1rem;
}

img.Imagen-Pintora {
    width: 20rem;
}


.titulo-pintora {
    font-size: larger;
}


section.Pintoras-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

section.Pintoras-flex div {
    margin: auto 1rem;
    width: 20rem;
}


footer {
    color: midnightblue;
    font-size: larger;
    font-style: oblique;
}

footer ul {
    list-style-type: disc;

}

.map {
    width: 550px;
    height: 450px;
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for xs since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
@media (min-width: 576px) { 
    .map {
        width: 100%;
        height: 100%;
    }    
}

/* X-Large devices (large desktops, 1200px and up) */
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1200px) { 
    .map {
        width: 1024px;
        height: 600px;
    }
    
 }
 .History {{
    width: 550px;
    height: 450px;
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for xs since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
@media (min-width: 576px) { 
    .History {
        width: 100%;
        height: 100%;
    }    
}

/* X-Large devices (large desktops, 1200px and up) */
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1200px) { 
    .History {
        width: 1024px;
        height: 600px;
    }
    
 }

 }