body {
    background-color: #F2D1CE
}

.Logo {
    width: 10rem;
}

    
section.Imagen-Pintora {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
}
section.Imagen-Pintora div {
    margin: auto 1rem;
}
img.Imagen-Pintora {
    width: 20rem;
}


.titulo-pintora {
    font-size: larger;
}


section.Pintoras-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

section.Pintoras-flex div {
    margin: auto 1rem;
    width: 20rem;
}


footer {
    color: midnightblue;
    font-size: larger;
    font-style: oblique;
}

footer ul {
    list-style-type: disc;

}